<div class="navbar-container">
  <span class="logo-text" [routerLink]="['/home']">GuruShots</span>

  <div class="right-hand">
    <div class="navigation">
      <a [routerLink]="['/discover']">Discover</a>
      <a [routerLink]="['/articles']">Articles</a>
      <a [routerLink]="['/exhibition']">Exhibition</a>
      <a [routerLink]="['/partners']">Partners</a>
    </div>
    <div class="sign">
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/sigup']" class="up">Sign up</a>
    </div>
  </div>
</div>
